.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  color: white;
}

.map-container {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 70vw;
  height: 90vh;
}

.control-panel{
  width: 30vw;
  height: 90vh;
  position: fixed;
  width: 30vw;
  top: 10vh;
}

.control-panel input{
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  background-color: #A3BBEB;
  display: block;
  height: 5vh;
  width: 100%;
}

.venue-list {
  z-index: 10;
  background-color: #8392B4;
  height: 85vh;
  overflow: scroll;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  padding: 4px 8px;
  color: black;
  text-align: left;
  text-decoration: none;
  display: block;
  transition: font-size 0.2s ease, background-color 0.2s ease;
}

li:hover {
  font-size: 30px;
  background: #f6f6f6;
}

img{
  width: 150px;
}

/* slight changes that improve experience on phones */
@media only screen and (max-width: 600px) {
  img{
    width: 100px;
  }
  li{
    font-size: 1em;
  }
}